  /* ============================================= */
  /*               Variables                       */
  /* ============================================= */

//   Fonts
$stack-lato: 'Lato', sans-serif;


//   Colors
  $light-blue: #51ddfc;
  $light-red: #e4757a;
  $light-purple: #927bc1;
  $light-green: #63cc82;
  $light-orange: #fd7856;
  $teal: #80e8d1;
  $peach: #fd9f85;
  $lavender: #deb2ee;
  $lime-green: #88d9a0;
  $darker-blue: #4da2bb;
  $lighter-red: #ec9fa3;
  $skyblue: #7ee6fd;


//   Media Query Breakpoints
  $small-screens: '(min-width: 768px)';


  //   Fonts
  $br: 5px;
